#map {margin:1em;position:relative;}
.geomorph {border:0;padding:0;margin:0;width:100px;height:100px;}
#geocube1a {position:absolute;left:200px;}
#geocube1b {position:absolute;left:300px;}
#geocube1c {position:absolute;left:200px;top:100px;}
#geocube1d {position:absolute;left:300px;top:100px;}

#geocube4a {position:absolute;           top:200px;}
#geocube4b {position:absolute;left:100px;top:200px}
#geocube4c {position:absolute;          ;top:300px;}
#geocube4d {position:absolute;left:100px;top:300px;}

#geocube2a {position:absolute;left:200px;top:200px}
#geocube2b {position:absolute;left:300px;top:200px}
#geocube2c {position:absolute;left:200px;top:300px;}
#geocube2d {position:absolute;left:300px;top:300px;}

#geocube3a {position:absolute;left:400px;top:200px}
#geocube3b {position:absolute;left:500px;top:200px}
#geocube3c {position:absolute;left:400px;top:300px;}
#geocube3d {position:absolute;left:500px;top:300px;}

#geocube6a {position:absolute;left:200px;top:400px}
#geocube6b {position:absolute;left:300px;top:400px}
#geocube6c {position:absolute;left:200px;top:500px;}
#geocube6d {position:absolute;left:300px;top:500px;}

#geocube5a {position:absolute;left:200px;top:600px}
#geocube5b {position:absolute;left:300px;top:600px}
#geocube5c {position:absolute;left:200px;top:700px;}
#geocube5d {position:absolute;left:300px;top:700px;}
.rot0 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  rotation: 0deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
.rot90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  rotation: 90deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rot180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  rotation: 180deg;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.rot270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
